<?xml version="1.0" ?>
<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="x_pos" default="-18.0"/>
  <arg name="y_pos" default="2.0"/>
  <arg name="z_pos" default="0.1"/>
  <arg name="yaw" default="-1.57"/>   <!-- Step 1a: new Yaw parameter (90 deg = -1.57 rad) -->
  <env name="GAZEBO_MODEL_PATH" value="$(find rl_racefield)/models:$(optenv GAZEBO_MODEL_PATH)"/>

  <!-- We resume the logic in empty_world.launch -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find rl_racefield)/worlds/rl_race_field.world" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>


<!-- urdf xml robot description loaded on the Parameter Server-->  

  <param name="robot_description" command="$(find xacro)/xacro '$(find rl_fra2mo_description)/urdf/fra2mo.xacro'" /> 

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	args="-urdf -model fra2mo -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg yaw) -param robot_description"/>    <!-- Step 1a: Yaw passed to the spawner -->


<!-- GUI Controls -->
<node pkg="rqt_robot_steering" type="rqt_robot_steering"  name="Pilot" />  <!-- Uncomment if you want to use robot_steering -->

<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
<!-- <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />   -->
<!-- RVIZ  -->
<node name="rviz" pkg="rviz" type="rviz" args="-d $(find rl_fra2mo_description)/conf/fra2mo_conf_map.rviz" required="true" />

<!--Static tf publisher for goal1-->
<node pkg="tf" type="static_transform_publisher" name="goal_1_pub" args="-3 5 0 0 0 0 1 map goal1 100" />

<!--Static tf publishers for Step 2a goals-->
<node pkg="tf" type="static_transform_publisher" name="goal_1_2a_pub" args="-10 3 0 0 0 0 1 map goal12a 100" />              <!-- Goal 1: x=-10,   y=3,   yaw=0deg   -->  
<node pkg="tf" type="static_transform_publisher" name="goal_2_2a_pub" args="-15 7 0 0 0 0.259 0.966 map goal22a 100" />      <!-- Goal 2: x=-15,   y=7,   yaw=30deg  -->
<node pkg="tf" type="static_transform_publisher" name="goal_3_2a_pub" args="-6 8 0 0 0 1 0 map goal32a 100" />               <!-- Goal 3: x=-6,    y=8,   yaw=180deg -->
<node pkg="tf" type="static_transform_publisher" name="goal_4_2a_pub" args="-17.5 3 0 0 0 0.609 0.793 map goal42a 100" />    <!-- Goal 4: x=-17.5, y=3,   yaw=75deg  -->

<!--Static tf publishers for Step 3a goals-->
<node pkg="tf" type="static_transform_publisher" name="goal_5_3a_pub" args="-9 1 0 0 0 0 1 map goal53a 100" />               <!-- Goal 5: x=-9,    y=1,   yaw=0deg   --> 
<node pkg="tf" type="static_transform_publisher" name="goal_6_3a_pub" args="-6 5 0 0 0 0 1 map goal63a 100" />               <!-- Goal 6: x=-6,    y=5,   yaw=0deg   --> 
<node pkg="tf" type="static_transform_publisher" name="goal_7_3a_pub" args="-0.5 0.5 0 0 0 0 1 map goal73a 100" />           <!-- Goal 7: x=-0.5,  y=0.5, yaw=0deg   --> 
<node pkg="tf" type="static_transform_publisher" name="goal_8_3a_pub" args="-0.5 9 0 0 0 0 1 map goal83a 100" />             <!-- Goal 8: x=-0.5,  y=9,   yaw=0deg   --> 
<node pkg="tf" type="static_transform_publisher" name="goal_9_3a_pub" args="-19.5 9 0 0 0 0 1 map goal93a 100" />            <!-- Goal 9: x=-19.5, y=9,   yaw=0deg   --> 

<!--Static tf publisher for Step 4b pose near the ArUco Marker on obstacle 09-->
<node pkg="tf" type="static_transform_publisher" name="goal_aruco_4b_pub" args="-16.5 8 0 0 0 1 0 map goalaruco4b 100" />    <!-- Goal near ArUco: x=-16.5, y=8, yaw=180deg --> 

</launch>
